.mypage-container{
    .mypage-section{
       
            text-align: center;
            color: #ffffff;
            font-size: 30px;
        .mypage-logoutbutton{
            border: none;
            width: 20vw;
            height: 50px;
            border-radius: 20px;
            background-color: #9504c2;
            font-family: monospace;
            color: #000000;
        }
    }

}