.home-container {
    // .home-header {
    //     text-align: center;
        
    // }
    .home-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        place-items: center;
        img {
            width: 30vw;
        }
        .home-section-clock {
            font-size: 2vw;
            color: #7143c7;
        }
    }
}
